@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,600&family=Ubuntu:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}

.title {
	font-family: 'Merriweather', sans-serif;
	font-size: 30px;
	text-align: center;
}

.atribute-text {
	font-size: 20px;
	line-height: 1rem;
	margin: 6px;
}

.leaderboard-text {
	font-weight: 400;
	font-size: 18px;
}

.image {
	width: 50%;
}

.big-heading {
	font-weight: 800;
	color: #00000F;
	font-size: 3.5rem;
	line-height: 1.5;
}

.admin {
	font-family: 'Merriweather', sans-serif;
	font-weight: 600;
	font-size: 2rem;
}

.span-text {

	font-weight: 500;
	font-size: 1.5rem;
}

.leaderboard-content {
	padding-top: 2%;
}

.container-fluid {
	padding: 1% 5%;
}

.footer {
	text-align: center;
}

.social-icon {
	margin: 20px 10px;
}

/* Button */
.signin {
	font-size: 1.5rem;
	border-radius: 5px;
	width: 110px;
	font-weight: 600;
	text-align: center;
	padding: 2px;
	background-color: #FD0D15;
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	box-shadow: -1px -1px 5px 0 #FD0D15;
}

.signin:hover {
	background: #FD353C;
	border: solid #FD353C 0;
	border-radius: 5px;
	text-decoration: none;
}

.signup {
	font-size: 1.5rem;
	border-radius: 5px;
	width: 110px;
	font-weight: 600;
	text-align: center;
	padding: 2px;
	background-color: #F2F3E2;
	color: #000000;
	display: inline-block;
	text-decoration: none;
	box-shadow: -1px -1px 5px 0 #F2F3E2;
}

.signup:hover {
	background: #F8F9F1;
	border: solid #F8F9F1 0;
	border-radius: 5px;
	text-decoration: none;
}

@media (max-width: 767px) {
	.navicon {
		top: 10px;
		width: 1.125em;
		height: .125em;
	}

	.navicon::before,
	.navicon::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		transition: all .2s ease-out;
		content: '';
		background: #3D4852;
	}

	.navicon::before {
		top: 5px;
	}

	.navicon::after {
		top: -5px;
	}

	.menu-btn:not(:checked)~.menu {
		display: none;
	}

	.menu-btn:checked~.menu {
		display: block;
	}

	.menu-btn:checked~.menu-icon .navicon {
		background: transparent;
	}

	.menu-btn:checked~.menu-icon .navicon::before {
		transform: rotate(-45deg);
	}

	.menu-btn:checked~.menu-icon .navicon::after {
		transform: rotate(45deg);
	}

	.menu-btn:checked~.menu-icon .navicon::before,
	.menu-btn:checked~.menu-icon .navicon::after {
		top: 0;
	}
}
